/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \*********************************************************************************************************/
header {
  display: flex;
  flex-flow: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #F8F6E8;
  height: 90px;
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.8)); }
  @media screen and (min-width: 576px) {
    header {
      flex-flow: row;
      gap: 0px;
      justify-content: space-between;
      align-items: center;
      height: 60px; } }
  header .logo {
    width: 221px;
    height: 30px; }
    @media screen and (min-width: 576px) {
      header .logo {
        margin-left: 20px; } }
  header ul {
    display: flex;
    gap: 25px; }
    @media screen and (min-width: 576px) {
      header ul {
        margin-right: 25px; } }

.imitation__header {
  position: absolute;
  top: 0px;
  z-index: 200;
  width: 100%;
  height: 50%;
  background-color: #F8F6E8; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 101;
  width: 100%;
  bottom: 0;
  background-color: #F8F6E8;
  font-size: 12px;
  font-family: "Alata";
  color: #333333;
  height: 40px;
  filter: drop-shadow(0px -6px 12px rgba(0, 0, 0, 0.8)); }

.imitation__footer {
  position: absolute;
  z-index: 201;
  width: 100%;
  top: 50%;
  height: 50%;
  background-color: #F8F6E8; }

.loading__caontaner {
  position: absolute;
  z-index: 300;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px; }

.loading__backgound {
  width: 100%;
  height: 100%; }

.loading__text {
  position: absolute;
  z-index: 2;
  top: 38%;
  left: 12%;
  font-family: "Alata";
  color: #ffffff; }
  .loading__text ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 6px; }

.loading__record {
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.9));
  animation: record-anim 1s infinite; }

@keyframes record-anim {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loading__bar__container {
  position: relative; }

.loading__bar {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 2px;
  width: 150px;
  height: 10px;
  background-color: #ffffff; }

.loading__bar__bg {
  width: 154px;
  height: 14px;
  background-color: #4A4A4A; }

h1, h2, h3, h4, h5, h6, p, figure, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.image__container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative; }

.image__container__sp {
  width: 100%; }

.image__images {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }

.image__images__sp {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.image__wrap {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6));
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  line-height: 0; }

.image__hover:hover {
  z-index: 2;
  transform: scale(1.25, 1.25);
  transition-duration: 0.4s; }

.image__wrap:hover .image__caption__mask {
  opacity: 1; }

.image__caption__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #ffffff66;
  transition: all 0.2s ease; }

.image__caption {
  width: 100%;
  height: 25px;
  background-color: #000000;
  text-align: center;
  font-size: 12px;
  font-family: "Noto Serif JP", serif;
  color: #fff; }
  .image__caption > p {
    position: relative;
    top: 11px; }

.image__sp {
  width: 50%; }

.image__tl {
  width: 20%; }

.backgorund {
  display: block;
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 20;
  background-color: #000000; }

.detail__panel__img {
  position: absolute;
  z-index: 100; }

.detail__panel__title {
  opacity: 0;
  box-sizing: border-box;
  padding: 8px;
  font-weight: bold;
  font-size: 12px;
  font-family: "Noto Serif JP", serif;
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  z-index: 101;
  width: 40%;
  line-height: 1.1; }

.detail__panel__text {
  box-sizing: border-box;
  padding: 8px;
  opacity: 0;
  font-size: 13px;
  font-family: "Noto Serif JP", serif;
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  z-index: 102;
  width: 40%;
  line-height: 1.8; }

.detail__panel__sp__container {
  position: fixed;
  display: none;
  z-index: 300;
  width: 100%;
  top: 0px;
  padding-top: 90px; }

.detail__panel__sp__title {
  color: #ffffff;
  font-size: 14px;
  padding: 12px; }

.detail__panel__sp__text {
  color: #ffffff;
  font-size: 14px;
  padding: 12px;
  line-height: 1.8; }

.explanation__mouse {
  position: absolute;
  z-index: 350;
  top: calc(50% - 100px);
  left: calc(50% - 100px - 32px); }

.explanation__text {
  position: absolute;
  z-index: 351;
  width: 300px;
  text-align: center;
  top: 52%;
  left: calc(50% - 150px);
  font-family: "Noto Serif JP", serif;
  color: #ffffff;
  font-size: 12px; }

.button {
  cursor: pointer; }
  .button:hover {
    filter: brightness(1.8); }
  .button__close {
    position: absolute;
    border-radius: 2px;
    opacity: 0;
    display: none;
    width: 100px;
    height: 20px;
    position: relative;
    background-color: #F8F6E8;
    font-size: 12px;
    font-family: "Noto Serif JP", serif;
    color: #000000;
    z-index: 600;
    align-content: center; }
    .button__close ul {
      display: flex;
      justify-items: center;
      gap: 6px; }

.close__btn__sp {
  position: relative;
  display: flex;
  justify-content: end; }
  .close__btn__sp > img {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px; }

